

.grid {
    height: 420px;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    background-image: url('https://www.filterforge.com/filters/11635-v7.jpg');
    
}

body{
    background-color: greenyellow;
}



.grid div {
    height: 40px;
    width: 40px;
    border: 1pxdcf;
    text-align: center;
    border: 1px solid black;
}
.bomb{
    background-image: url('https://www.filterforge.com/filters/11635-v7.jpg');
    
}

